.hero-banner {
    padding-top: 50px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero-banner__header {
    display: flex;
    justify-content: space-between;
}

.hero-banner__title {
    width: 600px;
    color: #08827c;
    font-size: 80px;
    line-height: 1.1;
}

.hero-banner__content {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    text-align: right;
    align-items: flex-end;         
    font-size: 20px;
}

.hero-banner__link {
    text-decoration: none;
}
.product-nav__list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.product-nav__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.product-nav__image {
    width: 100px;
    height: 65px;
}

.product-nav__text {
    margin-top: 10px; 
}
@media screen and (max-width:832px) {
    .hero-banner__header{
        display: block;
    }

    .hero-banner__title{
        width: 100%;
        font-size: 48px;
        line-height: 1.1;
    }

    .hero-banner__content{
        width: 100%;
        text-align: left;
        align-items: start;
    }

    .product-nav__list{
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 20px;
    }
}