/* Layout tổng cho cả vùng chứa */
.card-section {
    padding: 40px 0;
    font-family: "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
}

.card-section-heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0px;
}

.card-section-subheading {
    color: #6e6e73;
}

.card-wrapper {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px 0 20px;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.card-wrapper::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    width: 400px;
    height: 500px;
    border-radius: 18px;
    position: relative;
    overflow: hidden;
    transition: all .3s cubic-bezier(0,0,.5,1);
    background-color: #fff;
    box-shadow: 2px 4px 12px #00000014;
}

.card.small {
    width: 313px;
}

.card:hover {
    transform: scale(1.01);
}

/* slider buttons */
.slider-container {
    position: relative;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-btn.prev {
    left: 10px;
}

.slider-btn.next {
    right: 10px;
}

.slider-btn:disabled {
    display: none;
}