        .box_title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 0;
        margin-bottom: 20px;
        padding: 64px 0 41px;
        line-height: 1.1;
        color: var(--text);
      }

      .item_in_box{
        display: flex;
        text-align: center;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        max-width: 980px;
    }


    .item_in_box{
      background-color: #f5f5f7;
    }

    .text{
      font-size: 14px;
      padding: 20px 15px 50px;
      
      
<<<<<<< HEAD
      color: var(--text);
      
    }
=======
      color: #1d1d1f;
    }

    
>>>>>>> 5a03a72 (feat(UI): add Q&A1)
